.opacity-in{
    animation: 300ms ease 0ms 1 normal forwards running opacityIn;
  }

.opacity-out{
    animation: 300ms ease 0ms 1 normal forwards running opacityOut;
  }
  
  @keyframes opacityIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

  @keyframes opacityOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

  .alert-container{

  };

  .alert-popup{
    background: rgba(75, 75, 75, 0.85);
    width: 597px;
    height: 282px;
    backdrop-filter: blur(22px);
    border-radius: 20px;
  }