@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); /* 'Noto Sans KR' */
@import url("https://use.typekit.net/rwt5qfz.css"); /*noto-sans*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'); /*'Paytone One'*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
/*'Montserrat'*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 'Roboto' */

@font-face {
    font-family: 'Digital Numbers';
    font-style: normal;
    font-weight: normal;
    src: url('../public/fonts/DigitalNumbers-Regular.woff') format('woff');
    }

/* Paytone One - vietnamese */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/paytoneone/v16/0nksC9P7MfYHj2oFtYm2ChTigPvfiwq-FQc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* Paytone One - latin-ext */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/paytoneone/v16/0nksC9P7MfYHj2oFtYm2ChTjgPvfiwq-FQc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* Paytone One - latin */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/paytoneone/v16/0nksC9P7MfYHj2oFtYm2ChTtgPvfiwq-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 100;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Thin.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Thin.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Thin.otf) format('opentype'); 
}
  
@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 300;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Light.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Light.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Light.otf) format('opentype'); 
}

@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 400;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Regular.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Regular.otf) format('opentype'); 
}
  
@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 500;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Medium.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Medium.otf) format('opentype'); 
}

@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 700;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Bold.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Bold.otf) format('opentype'); 
}
  
@font-face { font-family: 'Noto Sans KR'; 
  font-display: auto;
  font-style: normal;	
  font-weight: 900;
  src: 	url(../public/fonts/NotoSansKR/NotoSansKR-Black.woff2) format('woff2'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Black.woff) format('woff'), 
        url(../public/fonts/NotoSansKR/NotoSansKR-Black.otf) format('opentype'); 
}

body {
  margin: 0;
  font-family: noto-sans, 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
